// Custom variables
$Blue: #1da1f2;
$Black: #14171a;
$Dark_Gray: #657786;
$Light_Gray: #aab8c2;
$Extra_Light_Gray: #e1e8ed;
$Extra_Extra_Light_Gray: #f5f8fa;

//

// $primary: #a4a366;
// $secondary: #9ab6da;
// $dark: #386086;
// $light: #f2efee;
// $success: #66ab57;
// $info: #9ab6da;
// $warning: #e49b1f;
// $danger: #f44336;

// import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";
