.generic-button {
    background-color: #fff !important;
    width: 250px;
    border-radius: 20px !important;
    font-size: 13px !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif ;
}